reports
badgefile.sqlite3
/artifacts
__pycache__
badgefile.log
secrets.yaml
google_service_account.json
email-whitelist.txt
corrected_reminder_email_users.txt
override_map.yaml
leago_token.json
backups
local_attendee_overrides.yaml
housing_name_maps.yaml
*.sqlite3*
