aga_username: "someusername"
aga_password: "passwordgoeshere"
folder_id: "replace this with the google drive folder ID where uploads should go"
discord_log_webhook: "Discord webhook for error messages, or delete this line if not desired"
congress_event_url: "Navigate to the 'edit' page of the Congress Registration form, and copy-paste the url here."

# Leago OAuth2 Configuration
leago_client_id: "your_oauth2_client_id"
leago_client_secret: "your_oauth2_client_secret"
leago_redirect_uri: "http://localhost:8080/callback"
leago_event_key: "your_event_key"
